.social-icon {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px;
  border-radius: 50%;
  color: white;
}

.social-icon.facebook:hover {
  background-color: #3b5998;
}

.social-icon.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}

.social-icon.twitter:hover {
  background-color: #1da1f2;
}

.social-icon.linkedin:hover {
  background-color: #0077b5;
}

.social-icon.pinterest:hover {
  background-color: #bd081c;
}
